<app-header (selectedFeature)="onNaviagte($event)"></app-header>
<!-- uwill not need the onNaviagte method in the ts of this file if u use the below way -->
<!-- <app-header (selectedFeature)="navigatingFeature =$event"></app-header> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-recipes *ngIf="selectedNaviagtion === 'recipe'" ></app-recipes>
      <app-shopping-list *ngIf= "selectedNaviagtion !== 'recipe'"></app-shopping-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




